
html {
	webkit-font-smoothing: antialiased;
}

body {
  background-color: #F2F2F2; /* Hintergrundfarbe */
  color: #554f4a; /* Schriftfarbe */
  font-family: HelveticaNeueLT, Open Sans, Arial, Helvetica, sans-serif;

}

.jumbotron h1 { 
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
  color: #e46450;
  text-align: center 
}

.jumbotron h2 { 
    margin-top: 10px;
margin-bottom: 10px;
  line-height: 1;
  color: #e46450;
  text-align: center 
}

.jumbotron p { 
  font-size: 2rem
}



h6 { 
    font-size: 13px;
}


P { 
    text-align: center;
    font-weight: lighter;
}

.jumbotron {
    
    min-height: 10em;
    vertical-align: middle;
}


.btn-success:not(.btn-link):not(.btn-flat) {
    background-color: #0075a9;
    margin-top: 30px;
    margin-bottom: 10px;
    text-transform: none;
}

.centerBlock {
  text-align:center
}

.radio-inline{
    font-family: HelveticaNeueLT, Open Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.services{
    max-width: 500px !important;
    align-content: center;
    width:100%;
    padding:0px;
    margin:0px;
    text-align: center;
    background-color: white !important;
}