
html {
	-webkit-font-smoothing: antialiased;
    height: 100%;
}
.checkbox input[type=checkbox] {
    opacity: 1;
}


body {
  background-color: #F2F2F2; /* Hintergrundfarbe */
  color: #554f4a; /* Schriftfarbe */
  font-family: HelveticaNeueLT, Open Sans, Arial, Helvetica, sans-serif;
  height: 100%;
}

#terms{
    text-align: left;
    font-size: 100%;
}
.jumbotron h1 {
  margin-top: 20px;
  margin-bottom: 20px;
  line-height: 1;
  color: #e46450;
  text-align: center
}

.jumbotron h2 {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1;
  color: #e46450;
  text-align: center
}

.jumbotron p {
  font-size: 2rem
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}


h6 {
    font-size: 13px;
}


P {
    text-align: center;
    font-weight: lighter;
}
p#terms{
     display: inline;
}

a {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
a#terms2 {
    text-align: left;
    display: inline;
    align-items: flex-start;
    justify-content: flex-start;
}

.jumbotron {

    max-width: 800px;
    min-height: 10em;
    min-width: 280px;
    vertical-align: middle;
    margin-left: auto;
    margin-right: auto;
}




.btn-success:not(.btn-link):not(.btn-flat) {
    background-color: #0075a9;
    margin-top: 10px;
    margin-bottom: 10px;
    text-transform: none;
}

.centerBlock {
  text-align:center
}

.radio-inline{
    font-family: HelveticaNeueLT, Open Sans, Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.services{
    align-content: center;
    width:100%;
    max-width: 840px;
    height: 40%;
    padding:0px;
    margin:0px;
    text-align: center;
    background-color: white !important;
}
.img-wrapper {
    display: inline-block; /* change the default display type to inline-block */
    overflow: hidden;      /* hide the overflow */
    width: 100%;
    transition: all .2s ease;
    vertical-align: bottom;
}

/*.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -200px; /* the bottom margin is the negative value of the footer's height */
}

/*.footer, .push {
    height: 200px;
   /* .push must be the same height as .footer */
}

.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}


.img_thumb {
    float: left;
    position: relative;
    text-align:center;
}

.img_thumb img {
    vertical-align: middle;
}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: none; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5); /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
    cursor: pointer; /* Add a pointer on hover */
}

/* Flipping Cards */
#f1_container {
  position: relative;
  margin: 0 auto;
  width: 100%;
  height: 281px;
  z-index: 1;
  overflow: hidden;
}

#f1_container {
  perspective: 1000;
}

#f1_card {
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  transition: all 0.5s linear;
}

#f1_container:hover #f1_card {
    width: 105%;
    height:105%;
}
.face {
  position: absolute;
  width: 100%;
}

.profileform{
  border: 1px solid black;
  border-radius: 6px;
  width: 100%;
}

.profiletable{
    width: 100%;
    margin: 5px;
    background-color:#FFFFE0;
    border-collapse:collapse;
    color:#000;font-size:14px; 
    table-layout: fixed;
}

.profiletable th{
    background-color:#0075a9;
    color:white;
    width:50%;
}
.profiletable td, .profiletable th {
    padding:5px;
    border:0;
}
.profiletable td { 
    border-bottom:1.5px solid #e46450; 
}

.top-right {
    position: absolute;
    top: 4px;
    right: 8px;
    transform: translate(-50%, -50%);
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
