{% extends "base.html" %}



{% block body %}
<div class="container">
    <div class="jumbotron">
        <h2>{{form.question_text}}</h2>

        <!-- Header Row -->
        <div class="row" style="margin-top:70px">
            <div class="col-xs-6"></div>
            {% for choice_option in form.choice_options %}
            <div class="col-xs-2" style="text-align: center; transform: rotate(-90deg)"><h6>{{choice_option}}</h6></div>
            {% endfor %}
        </div>


        <form action={% url 'interests' %} method="post">
            {% csrf_token %}
            <!-- Rows with criteria and options -->
            {% for field in form %}
                <div class="row">
                    <div class="col-xs-6">
                    <h5>{{ field.label }}</h5>
                    </div>
                    {{field}}
                </div>
            {% endfor %}

            <!-- Row for buttons -->
            <div class="row">
                <div class="col-xs-12">
                    <p><a class="btn btn-lg btn-success" href="{% url 'index' %}" role="button">Zurück</a>
                    <input type="submit" value="Weiter" class="btn btn-lg btn-success" />
                </div>
            </div>
        </form>
    </div>

</div>

{% endblock %}
