{% extends "base.html" %}



{% block body %}

<div class="container">
<h1>Für welche Themen interessierst Du dich?</h1>
        
              <div class="row">
  <div class="col-xs-6">
            </div>
            
  <div class="col-xs-2">
      <h6>Interessiert</h6>
            </div>
      
  <div class="col-xs-2">
      <h6>Aufgeschlossen</h6>
            </div>
  <div class="col-xs-2">
      <h6>Nicht Interessiert</h6>
            </div>                 
        </div>    
                  
                  
<div class="row">
  <div class="col-xs-6">
            <h5>Senioren</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="seniors" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="seniors" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="seniors" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">
            <h5>Jugendliche</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="youth" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="youth" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="youth" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">
            <h5>Kinder</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="child" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="child" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="child" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">
            <h5>Migration und Integration</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="migrants" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="migrants" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="migrants" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">
            <h5>Organisation</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="orga" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="orga" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="orga" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">
            <h5>Medien und Technik</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="media" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="media" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="media" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>
<div class="row">
  <div class="col-xs-6">
            <h5>Direkter Kontakt zu Menschen</h5>
            </div>
            
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="contact" id="blankRadio1" value="1" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="contact" id="blankRadio1" value="0" aria-label="...">
            </label>
        </div>
    </div>
    <div class="col-xs-2"> 
        <div class="radio">
            <label>
            <input type="radio" name="contact" id="blankRadio1" value="-1" aria-label="...">
          </label>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-xs-12">
        <button type="button" class="btn btn-success" href="index.html">Zurück</button>
        <button type="button" class="btn btn-success" href="skills.html">Weiter</button>
    </div>
            
</div>
        
    

</div>

{% endblock %}
