{% extends "base.html" %}


{% block body %}


<div class="container">


     <form action={% url 'skills' %} method="post">
         {% csrf_token %}

         <!-- FORM PART 1-->
         <div class="jumbotron">
            <h2>{{question1.question_text}}</h2>
             <div class="row" style="padding-left: 10%;">
              {% for field in form1 %}
                        {{field}}
             {% endfor %}
                </div>


         </div>

         <script>
         window.setInterval(begrenze, 1);
         var els2 = [];
         function begrenze(){
             var els = document.getElementsByName("skills1");
             var total = 0;

            for (var i = 0; i <els.length; i++){
             if(els[i].checked ){
                els2.push(els[i]);
                total++;
                console.log("Hab gechecked");
                }
            }

            if(total >3){

                console.log("DRIN");
                for (var i =0; i < els.length ; i++){

                    if(els[i].checked){
                        els[i].checked = false;
                        break;
                    }
                    else{
                        continue;
                    }
                }
             }


          }




         </script>

         <!-- FORM PART 2 -->
         <div class="jumbotron">
            <h2>{{question2.question_text}}</h2>

            <div class="row" style="padding-left: 40%">

                <div class="col-xs-12">
                      {{form2}}
                </div>
            </div>
        </div>         
         


        <div class="jumbotron">
            <!-- FORM PART 3 -->
            <h2>{{question3.question_text}}</h2>
            <div class="row" style="padding-left: 35%">
                <div class="col-xs-1o">
                      {{form3}}
                </div>
            </div>
            <p></p>


            <!-- FORM SUBMIT-->

             <div class="row">
                <div class="col-xs-12">
                    <p><a class="btn btn-lg btn-success" href="{% url 'interests' %}" role="button">Zurück</a>
                    <input type="submit" value="Weiter" class="btn btn-lg btn-success" />
                </div>
            </div>
        </div>

     </form>

</div>

{% endblock %}
