{% extends "base.html" %}



{% block body %}
<div class="container">


            <div class="row bs-wizard" style="border-bottom:0;">

                <div class="col-xs-3 bs-wizard-step complete">
                  <div class="text-center bs-wizard-stepnum">Schritt 1</div>

                    <div class="progress"><div class="progress-bar"></div></div>
                  <a href="{% url 'interests' %}" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Schritt 2</div>

                    <div class="progress"><div class="progress-bar"></div></div>
                  <a href="{% url 'skills' %}" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Schritt 3</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                  <a href="{% url 'results' %}" class="bs-wizard-dot"></a>
                </div>

                <div class="col-xs-3 bs-wizard-step complete"><!-- complete -->
                  <div class="text-center bs-wizard-stepnum">Schritt 4</div>
                    <div class="progress"><div class="progress-bar"></div></div>
                  <a href="{% url 'profile_data' %}" class="bs-wizard-dot"></a>
                </div>

            </div>





	</div>
<div class="container">
    <div class="jumbotron" style="width:100%; max-width:500px">
    <h3 style="text-align: center"> Schade, dass für dich nichts Passendes dabei war. Vielleicht wäre das etwas für dich?</h3>
</div>
</div>

<div class="container">
    <div class="jumbotron" style="width:100%; max-width:500px">
        <h2> Helfer auf Abruf</h2>
        <p>Für spontane Einsätze brauchen wir Unterstützer, denn kurzfristigen Ausfällen von Ehrenamtlichen, bei Umweltkatastrophen wie z.B. einer Überschwemmungen, oder bei DRK-Veranstaltungen können wir jede helfende Hand gebrauchen.
    </p>
    <h5> Keine Sorge, Du bist dabei nicht regelmäßig eingebunden und wir würden dich nur Fragen, wenn wir konkret Helfer benötigen. </h5>
</div>
</div>
<div class="container">
<div class="jumbotron" style="width:100%; max-width:500px">
     <h2> Unverbindliche Anmeldung </h2>
    <form action={% url 'skip' %} method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="row" style="padding: 10px">

            {% if field.label == "Einverständnis" %}
            <div  class="col-xs-10"><p id="terms">Ich habe die <a id="terms2" href="http://generationenkontakt.de/impressum/#privacy-policy">Datenschutzerklärung</a> gelesen und bin einverstanden. </p> </div>

            <div class="col-xs-1">
                {{ field }}
            </div>

            {% endif %}


            {% if field.label != "Einverständnis" %}
            <div class="col-xs-4" style="text-align: right">
                {% if field.field.required %}
                    {{ field.label_tag }}*
                {% else %}
                    {{ field.label_tag }}
                {% endif%}

            </div>
            <div class="col-xs-8">
                   {{ field }}
            </div>
            {% endif %}
            </div>

    {% endfor %}
    {% if error_message %}
        <div class="alert alert-danger">
          {{ error_message }}
        </div>
    {% endif %}

             <div class="row">
                <div class="col-xs-12">
                    <p><a class="btn btn-lg btn-success" href="{% url 'profile_data' %}" role="button">Zurück</a>
                    <a class="btn btn-lg btn-success" href="{% url 'skip' %}?empty_profile=1" role="button">Überspringen</a>
                    <input type="submit" value="Registrieren" class="btn btn-lg btn-success" /></p>
                </div>
            </div>

    </form>

</div>
</div>

{% endblock %}