{% extends "base.html" %}



{% block body %}

<div class="container">
<div class="jumbotron">

    <h2> Schade, dass wir nichts für dich finden konnten </h2>
    <p> Kommt für Dich diese Möglichkeit noch in Frage? </p>
</div>
    </div>
<div class="container">
    <div class="jumbotron">
    <h2> Helfer auf Abruf </h2>
    Man ist dabei nicht regelmäßig eingebunden. Wir würden Dich aber gerne anschreiben, wenn
        <li> Helfermangel bei einer Umweltkatastrophe wie z.B. einer Überschwemmungen besteht </li>
        <li> Kurzfristige Ausfälle zu personalen Schwierigkeiten führen </li>
        <li> Bei DRK-Veranstaltungen Unterstützung gebraucht wird</li>


    <h6> Keine Sorge, dies ist keine Anmeldung in einen Newsletter und die Anmeldung ist unverbindlich. </h6>


    <form action={% url 'skip' %} method="post">
    {% csrf_token %}

    {% for field in form %}
        <div class="row" style="padding: 10px">

            {% if field.label == "Einverständnis" %}
            <div  class="col-xs-10"><p id="terms">Ich habe die <a id="terms2" href="http://generationenkontakt.de/impressum/#privacy-policy">Datenschutzerklärung</a> gelesen und bin einverstanden. </p> </div>

            <div class="col-xs-1">
                {{ field }}
            </div>

            {% endif %}


            {% if field.label != "Einverständnis" %}
            <div class="col-xs-4" style="text-align: right">
                {% if field.field.required %}
                    {{ field.label_tag }}*
                {% else %}
                    {{ field.label_tag }}
                {% endif%}

            </div>
            <div class="col-xs-8">
                   {{ field }}
            </div>
            {% endif %}
            </div>

    {% endfor %}
    {% if error_message %}
        <div class="alert alert-danger">
          {{ error_message }}
        </div>
    {% endif %}

             <div class="row">
                <div class="col-xs-12">
                    <p><a class="btn btn-lg btn-success" href="{% url 'profile_data' %}" role="button">Zurück</a>
                    <a class="btn btn-lg btn-success" href="{% url 'skip' %}?empty_profile=1" role="button">Überspringen</a>
                    <input type="submit" value="Beenden" class="btn btn-lg btn-success" /></p>
                </div>
            </div>

    </form>

</div>
</div>

{% endblock %}