appdirs==1.4.3
dj-static==0.0.6
Django==1.10.6
django-appconf==1.0.2
djangorestframework==3.6.2
gunicorn==19.7.1
numpy
olefile==0.44
packaging==16.8
pandas
Pillow==4.1.1
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
six==1.10.0
static3==0.7.0
whitenoise==3.3.0
psycopg2==2.7.1
-e git://github.com/glogiotatidis/django-google-analytics.git@2dd8be61206c54a9163771cefb29ae8c4f5ec138#egg=google_analytics
-e git://github.com/glogiotatidis/django-piwik-analytics.git@0897228fc845debeb769d14fbfe8cd403a7acf7c#egg=piwik_analytics